{{- define "main" -}}
{{ partial "cv/sprite-symbol.svg" . }}

<div id="cv" class="font-sans max-w-5xl p-4 mx-auto">
  <div class="overflow-hidden">
    <h1 class="sm:float-left w-full sm:w-2/3 text-5xl sm:text-[5rem] mt-0 sm:mt-4 font-bold leading-[1.15]">
      <span class="text-pink">Fletcher Nichol</span>
      <span class="text-4xl block font-bold leading-[1.15]">Software Developer</span>
    </h1>
    <div class="sm:float-right w-full sm:w-1/3 mt-0 sm:mt-4 sm:text-right">
      <ul class="list-none pl-0 sm:pl-4 lg:pl-16 leading-normal">
        {{- range ($.Site.Data.cv.links | append .Page.Permalink) }}
        <li class="p-0">
          <a href="{{ . }}" class="no-underline text-pink hover:opacity-50 transition-opacity">
            <span class="sm:hidden print:hidden">
              <svg class="inline-block mr-0.5 h-4 w-4 align-middle">
                <use xlink:href="#external-link"></use>
              </svg>
            </span>
            {{ replaceRE "/$" "" (replaceRE "^(https?://(www.)?|mailto:)" "" .) }}
          </a>
        </li>
        {{- end }}
      </ul>
    </div>
  </div>
  <section id="interest">
    <h2 class="text-pink text-2xl font-semibold mt-5 mb-3">Areas of Interest</h2>
    <ul class="list-none overflow-hidden max-w-5xl pl-0 sm:pl-4 lg:pl-16 leading-[1.15]">
    {{- range $.Site.Data.cv.interests }}
      <li class="float-left w-full sm:w-1/3 p-2">{{ . }}</li>
    {{- end }}
    </ul>
  </section>
  <section id="experience">
    <h2 class="text-pink text-2xl font-semibold mt-5 mb-3">Experience</h2>
    <ul class="list-none max-w-5xl pl-0 sm:pl-4 lg:pl-16 leading-normal">
    {{- range $.Site.Data.cv.experience }}
      <li class="overflow-hidden border-t sm:border-0 border-black/10 my-8 sm:my-1">
        <div class="float-left w-full sm:w-1/3 p-2">
          <h3 class="text-base leading-tight mt-0 mb-4 font-semibold">{{ .company }}</h3>
          <p class="mb-1 opacity-50 italic leading-none">
            {{ with .start_date }}{{ dateFormat "January 2006" . -}}
            {{ else }}<b>TODO</b>{{ end }}
            to
            {{ with .end_date }}{{ dateFormat "January 2006" . -}}
            {{ else }}Present{{ end }}
          </p>
        </div>
        <div class="float-left w-full sm:w-2/3 p-2">
          <h4 class="text-base leading-tight mt-0 mb-4 font-semibold">{{ .title }}</h4>
          <div class="description">
            {{ .description | markdownify }}
          </div>
          <div class="flex items-center flex-wrap gap-x-1">
            <span class="whitespace-nowrap text-pink">
              <span>
                <svg class="inline-block mr-0.5 h-4 w-4 align-middle">
                  <use xlink:href="#map-pin"></use>
                </svg>
              </span>
              {{ .location }}
            </span>
          {{- with .url }}
            {{- $href := .href }}
            {{- $title := cond (isset . "title") .title $href }}
            <span>|</span>
            <span class="whitespace-nowrap">
              <a href="{{ $href }}" target="_blank" class="text-pink no-underline hover:underline hover:opacity-50 transition-all">
                <span>
                  <svg class="inline-block mr-0.5 h-4 w-4 align-middle">
                    <use xlink:href="#external-link"></use>
                  </svg>
                </span>
                {{ replaceRE "/$" "" (replaceRE "^(https?://(www.)?|mailto:)" "" $title) }}
              </a>
            </span>
          {{- end }}
          </div>
        </div>
      </li>
    {{- end }}
    </ul>
  </section>
  <section id="education">
    <h2 class="text-pink text-2xl font-semibold mt-5 mb-3">Education</h2>
    <ul class="list-none max-w-5xl pl-0 sm:pl-4 lg:pl-16 leading-normal">
    {{- range $.Site.Data.cv.education }}
      <li class="overflow-hidden border-t sm:border-0 border-black/10 my-8 sm:my-1">
        <div class="float-left w-full sm:w-1/3 p-2">
          <h3 class="text-base leading-tight mt-0 mb-4 font-semibold">{{ .school }}</h3>
          <p class="mb-1 opacity-50 italic leading-none">{{ .date  }}</p>
        </div>
        <div class="float-left w-full sm:w-2/3 p-2">
          <h4 class="text-base leading-tight mt-0 mb-4 font-semibold">{{ .degree }}</h4>
          <div class="description">
            {{ .description | markdownify }}
          </div>
          <div class="flex items-center flex-wrap gap-x-1">
            <span class="whitespace-nowrap text-pink">
              <span>
                <svg class="inline-block mr-0.5 h-4 w-4 align-middle">
                  <use xlink:href="#map-pin"></use>
                </svg>
              </span>
              {{ .location }}
            </span>
          {{- with .url }}
            {{- $href := .href }}
            {{- $title := cond (isset . "title") .title $href }}
            <span>|</span>
            <span class="whitespace-nowrap">
              <a href="{{ $href }}" target="_blank" class="text-pink no-underline hover:underline hover:opacity-50 transition-all">
                <span>
                  <svg class="inline-block mr-0.5 h-4 w-4 align-middle">
                    <use xlink:href="#external-link"></use>
                  </svg>
                </span>
                {{ replaceRE "/$" "" (replaceRE "^(https?://(www.)?|mailto:)" "" $title) }}
              </a>
            </span>
          {{- end }}
          </div>
        </div>
      </li>
    {{- end }}
    </ul>
  </section>
  <section id="patents">
    <h2 class="text-pink text-2xl font-semibold mt-5 mb-3">Patents</h2>
    <ul class="list-none max-w-5xl pl-0 sm:pl-4 lg:pl-16 leading-normal">
    {{- range $.Site.Data.cv.patents }}
      <li class="overflow-hidden border-t sm:border-0 border-black/10 my-8 sm:my-1">
        <div class="float-left w-full sm:w-1/3 p-2">
          <h3 class="text-base leading-tight mt-0 mb-4 font-semibold">{{ .application }}</h3>
          <p class="mb-1 opacity-50 italic leading-none">{{ dateFormat "2006" .year  }}</p>
        </div>
        <div class="float-left w-full sm:w-2/3 p-2">
          <h4 class="text-base leading-tight mt-0 mb-4 font-semibold">{{ .title }}</h4>
          <div class="description">
            {{ .description | markdownify }}
          </div>
          <div class="flex items-center flex-wrap gap-x-1">
            <span class="whitespace-nowrap text-pink">
              <span>
                <svg class="inline-block mr-0.5 h-4 w-4 align-middle">
                  <use xlink:href="#map-pin"></use>
                </svg>
              </span>
              {{ .location }}
            </span>
          {{- with .url }}
            {{- $href := .href }}
            {{- $title := cond (isset . "title") .title $href }}
            <span>|</span>
            <span class="whitespace-nowrap">
              <a href="{{ $href }}" target="_blank" class="text-pink no-underline hover:underline hover:opacity-50 transition-all">
                <span>
                  <svg class="inline-block mr-0.5 h-4 w-4 align-middle">
                    <use xlink:href="#external-link"></use>
                  </svg>
                </span>
                {{ replaceRE "/$" "" (replaceRE "^(https?://(www.)?|mailto:)" "" $title) }}
              </a>
            </span>
          {{- end }}
          </div>
        </div>
      </li>
    {{- end }}
    </ul>
  </section>
  <section id="awards">
    <h2 class="text-pink text-2xl font-semibold mt-5 mb-3">Awards</h2>
    <ul class="list-none max-w-5xl pl-0 sm:pl-4 lg:pl-16 leading-normal">
    {{- range $.Site.Data.cv.awards }}
      <li class="overflow-hidden border-t sm:border-0 border-black/10 my-8 sm:my-1">
        <div class="float-left w-full sm:w-1/3 p-2">
          <h3 class="text-base leading-tight mt-0 mb-4 font-semibold">{{ .event }}</h3>
          <p class="mb-1 opacity-50 italic leading-none">{{ dateFormat "2006" .year  }}</p>
        </div>
        <div class="float-left w-full sm:w-2/3 p-2">
          <h4 class="text-base leading-tight mt-0 mb-4 font-semibold">{{ .title }}</h4>
          <div class="description">
            {{ .description | markdownify }}
          </div>
          <div class="flex items-center flex-wrap gap-x-1">
            <span class="whitespace-nowrap text-pink">
              <span>
                <svg class="inline-block mr-0.5 h-4 w-4 align-middle">
                  <use xlink:href="#map-pin"></use>
                </svg>
              </span>
              {{ .location }}
            </span>
          {{- with .url }}
            {{- $href := .href }}
            {{- $title := cond (isset . "title") .title $href }}
            <span>|</span>
            <span class="whitespace-nowrap">
              <a href="{{ $href }}" target="_blank" class="text-pink no-underline hover:underline hover:opacity-50 transition-all">
                <span>
                  <svg class="inline-block mr-0.5 h-4 w-4 align-middle">
                    <use xlink:href="#external-link"></use>
                  </svg>
                </span>
                {{ replaceRE "/$" "" (replaceRE "^(https?://(www.)?|mailto:)" "" $title) }}
              </a>
            </span>
          {{- end }}
          </div>
        </div>
      </li>
    {{- end }}
    </ul>
  </section>
</div>
{{- end -}}
