{{- define "main" -}}
    <section
      class="h-screen flex items-center w-full bg-cover font-sans"
      style="background:url(/img/wladislaw-sokolowskij-0vw4InAC-yM-unsplash-web.jpg) no-repeat center;"
    >
      <div class="mx-auto max-w-[16rem]">
        <h1 class="text-4xl sm:text-8xl leading-tight text-center">
          Fletcher Nichol<a rel="me" href="https://hachyderm.io/@fnichol" class="text-pink no-underline hover:opacity-50 transition-opacity"
            >.</a
          >
        </h1>
        <h2 class="text-2xl sm:text-4xl text-center">Software Developer, Technologist</h2>
      </div>
    </section>
{{- end -}}
