{{- define "main" -}}
    <section
      class="vh-100 dt w-100 cover sans-serif"
      style="background:url(/img/wladislaw-sokolowskij-0vw4InAC-yM-unsplash-web.jpg) no-repeat center;"
    >
      <div class="dtc v-mid center mw5 measure-wide">
        <h1 class="f-headline-ns f2 lh-title tc">
          Fletcher Nichol<a href="https://twitter.com/fnichol" class="red link dim"
            >.</a
          >
        </h1>
        <h2 class="f3 f2-ns tc">Software Developer, Technologist</h2>
      </div>
    </section>
{{- end -}}
